@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);













#header2-2 H1 {
  color: #f2f2f2;
  text-align: right;
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
}
#header2-2 P {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Indie Flower', cursive;
}
#header2-2 .btn {
  font-family: 'Alegreya Sans', sans-serif;
}
#msg-box2-4 H2 {
  text-align: center;
  color: #000000;
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
}
#msg-box5-6 .mbr-section-title {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-7 .mbr-section-title {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-9 .mbr-section-title {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-a .mbr-section-title {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-b .mbr-section-title {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-e .mbr-section-title {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-f .mbr-section-title {
  font-family: 'Indie Flower', cursive;
}
#msg-box5-h .mbr-section-title {
  font-size: 72px;
  font-family: 'Indie Flower', cursive;
}
#msg-box2-r H2 {
  font-family: 'Indie Flower', cursive;
}
#menu-l .navbar-toggler {
  color: #ffffff;
}
